body {

max-width: 1200px;

margin: auto;

font-family: Arial, sans-serif;

padding: 20px;

}

nav {

background: #eeeeee;

padding: 15px;

margin-bottom: 20px;

}

nav a {

margin-right: 25px;

font-weight: bold;

text-decoration: none;

}

#co2plot,
#hplot,
#leplot {

width: 100%;

height: 500px;

margin-bottom: 40px;

}
